@{
    ViewBag.Title = "Strona Główna";
}
<div class="jumbotron">
    <h1>Książki</h1>
    <p class="lead">Prosta aplikacja trójwarstwowa.</p>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Strona główna</h2>
        <p>
            Aplikacja jest prostą aplikacją trojwastwową do zarządzania zbiorem książek i ich autorów.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Header 1</h2>
        
    </div>
    <div class="col-md-4">
        <h2>Header 2</h2>
    </div>
</div>