@{
    ViewBag.Title = "Strona Główna";
}
        <div>
            <h2>Strona główna</h2>
            <p>
                Aplikacja jest prostą aplikacją trojwastwową do zarządzania zbiorem książek i ich autorów.
            </p>

       </div>