<unity>
  <typeAliases>
    <!-- BLL-->
    <typeAlias alias="IBooks" type="Pjatk.Pab.Books.BLL.Interfaces.IBooks, Pjatk.Pab.Books.BLL" />
    <typeAlias alias="BooksFacade" type="Pjatk.Pab.Books.BLL.Facades.BooksFacade, Pjatk.Pab.Books.BLL" />
    <typeAlias alias="IAuthors" type="Pjatk.Pab.Books.BLL.Interfaces.IAuthors, Pjatk.Pab.Books.BLL" />
    <typeAlias alias="AuthorsFacade" type="Pjatk.Pab.Books.BLL.Facades.AuthorsFacade, Pjatk.Pab.Books.BLL" />
    <!-- Services -->
    <typeAlias alias="IUnitOfWork" type="Pjatk.Pab.Books.DAL.Repositories.IUnitOfWork, Pjatk.Pab.Books.DAL" />
    <typeAlias alias="UnitOfWork" type="Pjatk.Pab.Books.DAL.Repositories.UnitOfWork, Pjatk.Pab.Books.DAL" />
    <!-- Repositories -->
    <typeAlias alias="IRepository" type="Pjatk.Pab.Books.DAL.Repositories.IRepository`1, Pjatk.Pab.Books.DAL" />
    <typeAlias alias="Repository" type="Pjatk.Pab.Books.DAL.Repositories.Repository`1, Pjatk.Pab.Books.DAL" />
  </typeAliases>
  <container>
    <register name="" type="IBooks" mapTo="BooksFacade" />
    <register name="" type="IAuthors" mapTo="AuthorsFacade" />
    <register name="" type="IUnitOfWork" mapTo="UnitOfWork">
    </register>

  </container>
</unity>